.register_head {
  width: 100%;
  height: 140PX;
  margin: 0 0 15PX;
  display: flex;
  flex-direction: column;
  text-align: center;

  .title {
    font-size: 22PX;
    font-weight: bold;
    margin-top: 15PX;
  }
}
