<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.plutonight.library.mapper.SeatMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.plutonight.library.entity.Seat">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="student_id" property="studentId" />
        <result column="school_id" property="schoolId" />
        <result column="room_id" property="roomId" />
        <result column="seat_row" property="seatRow" />
        <result column="name" property="name" />
        <result column="seat_col" property="seatCol" />
        <result column="status" property="status" />
        <result column="rest_time" property="restTime" />
        <result column="use_time" property="useTime" />
        <result column="end_time" property="endTime" />
        <result column="temp_time" property="tempTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_time,
        update_time,
        id, student_id, school_id, room_id, seat_row, name, seat_col, status, rest_time, use_time, end_time, temp_time
    </sql>

</mapper>
